@media (min-width :992px) {}
@media(min-width: 768px) and (min-width :992px){}
@media(min-width: 320px){}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
    background-color: #1f242d;
   
}
body{
    color: #1f242d;
}
.header 
{
   position: fixed;
   top: 0px;
   padding: 20px 20px;
   width:98.5%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
   margin-left: 0px;
   background: transparent;
   backdrop-filter: blur(10px);
   
}
.logo
{
    position: relative;
    font-size: 25px;
    color: #e4f313;
    text-decoration: none;
    font-weight: 600;
    // background: #123e5a;
    background: transparent;
    backdrop-filter: blur(10px);
}
.navbar{
    margin-left: 570px;
    // background: #123e5a;
    background: transparent;
    backdrop-filter: blur(10px);
}
.navbar a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    // background: #123e5a;
    background: transparent;
    backdrop-filter: blur(10px);
}
.navbar a:hover{
    color: #0ef;
}
