*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
    background-color: #093264;
    background-color: #1f242d;
}
body{
    color: #f7f5f5;
}
.header 
{
   position: fixed;
   top: 0px;
   padding: 20px 7.1% ;
   background: #123e5a;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
   margin-left: 0px;
   
}
.logo
{
    position: relative;
    font-size: 25px;
    color: #e4f313;
    text-decoration: none;
    font-weight: 600;
    background: #123e5a;
}
.navbar{
    margin-left: 570px;
    background: #123e5a;
}
.navbar a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    background: #123e5a;
}
.navbar a:hover{
    color: #0ef;
}
.profile{
 border-radius: 250px;
 width: 300px;
 border: 5px solid #0ef;
 box-shadow: 0 0 30px #0ef;
//  background: linear-gradient(45deg, #f06, #3cf);
}
         
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 13% 0;
}
.home-content{
    max-width: 600px;
    color: #fff;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;
}
span{
    color: #0ef;
}
.home-scl a{
     display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50px;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-scl a:hover{
    background: #0ef;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{ 
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover{
    background: #0ef;  
    box-shadow: 0 0 20px #0ef;
}
.about{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 13% 0;
}
.about-content{
    max-width: 600px;
    color: #fff;
}
.about-content h3{
    font-size: 32px;
    font-weight: 700;
}
.about-content h2{
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
    color: red;
}
.about-content p{
    font-size: 20px;
}
.aboutimg{
    width: 350px;
    margin-left: 20px;
}
.skill{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 70px 13% 0;
}
.skill-content{
    max-width: 600px;
    color: #fff;
    display: inline-flex;
    text-align: center;
    
}
.skill h3{
    font-size: 20px;
    font-weight: 700;
}
.skill h2{
    font-size: 50px;
    font-weight: 600;
    color: red;
}
.skill p {
    font-size: 20px;
    color: #fff;
}
.html{
    width: 100px;
    margin: 40px;
    border:2px solid #0ef;
    box-shadow: 0 0 20px #0ef;
}
.css{
    border-radius: 100px;
    width: 106px;
    margin: 40px;
}
.js{
    border-radius: 200px;
    width: 100px;
    margin: 40px;
}
.angular{
    border-radius: 120px;
    width: 100px;
    margin: 40px;
}
.git{
    border-radius: 120px;
    width: 100px;
    margin: 40px;
}
