<footer id="Contact" class="Contact">
    <div>
        <div class="contact-nav">
        <a href="#Home">Home</a>
        <a href="#About">About</a>
        <a href="#skills">skills</a>
        <a href="#Contact">Contact</a>
        <br>
        <br>
        <h2>CONTACT ME</h2>
        </div>
        <div class="Contact-scl">
            <a href="https://github.com/bcasanthosh"><i class='bx bxl-github'></i></a>
            <a href="https://www.facebook.com/profile.php?id=100042639422675"><i class='bx bxl-facebook-circle' ></i></a>
            <a href="https://www.instagram.com/dream_boy_tn_24/"><i class='bx bxl-instagram'></i></a>
            <a href="mailto:santhoshbca9384@gmail.com"><i class='bx bx-envelope'></i></a>
        </div>
        <p>Copyright © 2023 - All right reserved.</p>
    </div> 
</footer>
