
<section id="Home" class="home">
    <img src="../../assets/image/1706008802902.jpg" class="profile">
    <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Santhosh</h1>
        <h3>And I'm a <span class="typing-text">Frontend Developer</span></h3>
        <br>
        <p>A Front-End Developer is a professional responsible for creating the visual elements of a website.</p>
        <br><p>expertise is to website, Frontend Angular Developer.</p> 
        <div class="home-scl">
            <a href="https://github.com/bcasanthosh"><i class='bx bxl-github'></i></a>
            <a href="https://www.facebook.com/profile.php?id=100042639422675"><i class='bx bxl-facebook-circle'></i></a>
            <a href="https://www.instagram.com/dream_boy_tn_24/"><i class='bx bxl-instagram'></i></a>
            <a href="mailto:santhoshbca9384@gmail.com"><i class='bx bx-envelope'></i></a>
        </div>
        <div class="resume"><a href="../../assets/image/santhosh_FRONTEND.pdf" class="btn-box">Download CV</a></div>
    </div>
</section>



<section id="About" class="about">
    <div class="about-content">
        <h2>About Me</h2>
        <h3>Frontend Developer</h3>
        <br>

        <p>
            Hello there! I'm [ SANTHOSH M ], a passionate and dedicated Frontend Developer
            eager to embark on an exciting journey in the world of web development.
            <br>
            <br>

            As a recent graduate with a degree in [ BCA ], I have honed
            my skills in HTML, CSS, JavaScript, and Angular 2.0, GitHub and I'm enthusiastic about crafting
            user-friendly and visually appealing websites.
        </p>
    </div>
    <img src="../../assets/image/Front End Developer1.png" class="aboutimg">
</section>

<section id="skills" class="skill">
    <h2>skills</h2>
    <p>Skill set includes: HTML5, CSS3, JavaScript, Angular 2.0, Git, and Responsive Design.</p>
    <br>
    <p> my skills in HTML, CSS, JavaScript, and Angular 2.0, GitHub and I'm enthusiastic about crafting
        user-friendly and visually appealing websites.</p>
    <br>
    <p> I am thrilled about the prospect of bringing my skills and energy to a dynamic team.
        Let's connect and discuss how I can contribute to your exciting projects! </p>
    <div class="skill-content">
        <br>
        <br>
        <div>
            <img src="../../assets/image/html.webp" class="html">
            <h3>HTML</h3>
        </div>
        <div>
            <img src="../../assets/image/css.png" class="css">
            <h3>CSS</h3>
        </div>
        <div>
            <img src="../../assets/image/js2.png" class="js">
            <h3>JAVA SCRIPT</h3>
        </div>
        <div>
            <img src="../../assets/image/angular.jpeg" class="angular">
            <h3>ANGULAR 2.0</h3>
        </div>
        <div>
            <img src="../../assets/image/git.png" class="git">
            <h3>GitHub</h3>
        </div>
    </div>
</section>